# csv.writer()

In [1]:
import csv
rows = []
with open('data-text.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

In [2]:
#csv write
with open('data-text20_1.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(rows[:20])  # wtirerow(iterable): 예를 들어, list를 파라미터로 주면 list의 모든 행을 저장
# header도 포함되어 있음, header 1줄 + 실제 데이터 19개

# SQL query

In [12]:
import sqlite3
#1. DB 연결 (파일이 없으면 만들고 있으면 연결)
con = sqlite3.connect("C:/Temp/sqlite3/test.db") # 절대 주소

In [ ]:
#2. cursor 객체 만들기
cursor = con.cursor()

In [8]:
#3. 커서객체.execute("SQL qquery")로 SQL 명령
# 데이터베이스 생성, 조회, 갱신, 삭제(CRUD) 작업

#3-1. table만들기
cursor.execute("CREATE TABLE school(name, number, math_score)")

In [ ]:
#3-2. 값 입력
cursor.execute('INSERT INTO school VALUES("James", 1, 80)')

In [13]:
data = [['James', 1, 80], ['Tom', 5, 80], ['Scott', 5, 85]]

In [17]:
# 3-3. 변수 입력
for row in data:
    cursor.execute("INSERT INTO school VALUES(?, ?, ?)", (row[0], row[1], row[2]))

In [18]:
#4. DB에 반영
con.commit()

In [ ]:
#5. DB 연결 종료
con.close()