In [6]:
print("Hello World!")

Hello World!

## Data type

In [7]:
type(True)

bool

In [8]:
type(10*0.7)

float

## 조건문

In [9]:
x = 10
if x > 5:
    print(x, 'is more than 5')
else:
    print(x, 'is less than 5')

10 is more than 5

## 반복문

In [11]:
word = 'python'
for letter in word:
    print(letter)

p
y
t
h
o
n

## List

In [23]:
person = ['홍길동', '17', 'Male', [88, 50, 100]]
print(person)
print(person[0])

['홍길동', '17', 'Male', [88, 50, 100]]
홍길동

In [24]:
person[-1][0] # 음수 인덱싱

88

In [25]:
len(person) # built-in function

4

In [26]:
person.append('student') # method
person

['홍길동', '17', 'Male', [88, 50, 100], 'student']

## Dictionary

In [29]:
person = {'name': '홍길동', 'age':'17', 'sex':'Male', 'score': [88, 50, 100]}
print(person)
print(person['age'])

{'name': '홍길동', 'age': '17', 'sex': 'Male', 'score': [88, 50, 100]}
17

In [32]:
# method
print(person.items())
print(person.keys())
print(person.values())

dict_items([('name', '홍길동'), ('age', '17'), ('sex', 'Male'), ('score', [88, 50, 100])])
dict_keys(['name', 'age', 'sex', 'score'])
dict_values(['홍길동', '17', 'Male', [88, 50, 100]])

# Markdown
# header 1: # 1개
## header 2: # 2개
### header 3: # 3개
#### header 4: # 4개
##### header 5: # 5개
###### header 6: # 6개
1. - 표시하기
* 별
+ 플러스
- 마이너스
2. 들여쓰기
* level 1
    * level 2
        * level 3
3. 인용구
> 인용구 (>)
>> 인용구 안에 인용구 (>>)

4. bold 
- **bold** 또는 __bold__
- *italic* 또는 _italic_

5. links
- https://masil.io
- [네이버](https://naver.com)

## 주피터 노트북 단축키
shift enter = run cell, select below  
ctrl enter = run cell  
alt enter = run cell, insert below  
ctrl s = save and checkpoint  

command mode (파란색): ESC

y: to code  
m: to markdown

In [33]:
print("유근태")

유근태