In [ ]:
import pandas as pd

# 읽기
df_in = pd.read_csv('mn.csv', low_memory=False)

# 행 삭제
df_cut = df_in[:100]


# 열 삭제
df_cut = df_cut.drop(['Unnamed: 0'], axis=1)

# 저장
df_cut.to_csv('mn_cut100.csv')

In [ ]:
df_cut

,HH1,HH2,LN,MWM1,MWM2,MWM4,MWM5,MWM6D,MWM6M,MWM6Y,...,MCSURV,MCDEAD,mwelevel,mnweight,wscore,windex5,wscoreu,windex5u,wscorer,windex5r
0,1,17,1,1,17,1,14,7,4,2014,...,0.0,0.0,Higher,0.403797,1.603670,5,1.272552,5.0,NaN,NaN
1,1,20,1,1,20,1,14,7,4,2014,...,0.0,0.0,Higher,0.403797,1.543277,5,1.089026,5.0,NaN,NaN
2,2,1,1,2,1,1,9,8,4,2014,...,3.0,0.0,Primary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN
3,2,1,5,2,1,5,9,12,4,2014,...,NaN,NaN,NaN,0.000000,0.000000,0,0.000000,0.0,0.0,0.0
4,2,1,8,2,1,8,9,8,4,2014,...,0.0,0.0,Secondary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7,17,2,7,17,2,13,6,4,2014,...,0.0,0.0,Higher,0.989303,1.722785,5,1.634524,5.0,NaN,NaN
96,7,18,1,7,18,1,7,4,4,2014,...,1.0,0.0,Secondary,0.989303,0.671458,4,-1.560301,1.0,NaN,NaN
97,7,20,2,7,20,2,7,6,4,2014,...,0.0,0.0,Higher,0.989303,1.639897,5,1.382641,5.0,NaN,NaN
98,7,20,3,7,20,3,7,6,4,2014,...,0.0,0.0,Secondary,0.989303,1.639897,5,1.382641,5.0,NaN,NaN
99,7,23,1,7,23,1,14,6,4,2014,...,3.0,0.0,Higher,0.989303,1.941256,5,2.298426,5.0,NaN,NaN

In [ ]:
from csv import reader

# 읽기
data_rdr = reader(open('mn_cut100.csv', 'rt'))
header_rdr = reader(open('mn_headers.csv', 'rt', encoding = 'utf8'))

# list comprehension
data_rows = [d for d in data_rdr]
header_rows = [h for h in header_rdr]

# 두 헤더의 길이 출력
print(len(data_rows[0]))
print(len(header_rows))

159
210

In [ ]:
# 데이터 헤더 행 (헤더 시작부분 눈으로 확인)
data_rows[0]

['',
 'HH1',
 'HH2',
 'LN',
 'MWM1',
 'MWM2',
 'MWM4',
 'MWM5',
 'MWM6D',
 'MWM6M',
 'MWM6Y',
 'MWM7',
 'MWM8',
 'MWM9',
 'MWM10H',
 'MWM10M',
 'MWM11H',
 'MWM11M',
 'MWB1M',
 'MWB1Y',
 'MWB2',
 'MWB3',
 'MWB4',
 'MWB5',
 'MWB7',
 'MMT2',
 'MMT3',
 'MMT4',
 'MMT6',
 'MMT7',
 'MMT8',
 'MMT9',
 'MMT10',
 'MMT11',
 'MMT12',
 'MMT13',
 'MMT14',
 'MCM1',
 'MCM3',
 'MCM4',
 'MCM5A',
 'MCM5B',
 'MCM6',
 'MCM7A',
 'MCM7B',
 'MCM8',
 'MCM9A',
 'MCM9B',
 'MCM10',
 'MCM11A',
 'MCM11B',
 'MCM12M',
 'MCM12Y',
 'MDV1A',
 'MDV1B',
 'MDV1C',
 'MDV1D',
 'MDV1E',
 'MDV1F',
 'MMA1',
 'MMA3',
 'MMA4',
 'MMA5',
 'MMA6',
 'MMA7',
 'MMA8M',
 'MMA8Y',
 'MMA9',
 'MSB1',
 'MSB2',
 'MSB3U',
 'MSB3N',
 'MSB4',
 'MSB5',
 'MSB8',
 'MSB9',
 'MSB10',
 'MSB13',
 'MSB14',
 'MSB15',
 'MHA1',
 'MHA2',
 'MHA3',
 'MHA4',
 'MHA5',
 'MHA6',
 'MHA7',
 'MHA8A',
 'MHA8B',
 'MHA8C',
 'MHA9',
 'MHA10',
 'MHA11',
 'MHA12',
 'MHA24',
 'MHA25',
 'MHA26',
 'MHA27',
 'MMC1',
 'MMC2',
 'MMC3',
 'MMC4',
 'MTA1',
 'MTA2',
 'MTA3',
 'MTA4',
 'MTA5',
 'MTA6',
 'MTA7',
 'MTA8A',
 'MTA8B',
 'MTA8C',
 'MTA8D',
 'MTA8E',
 'MTA8X',
 'MTA9',
 'MTA10',
 'MTA11',
 'MTA12A',
 'MTA12B',
 'MTA12C',
 'MTA12X',
 'MTA13',
 'MTA14',
 'MTA15',
 'MTA16',
 'MTA17',
 'TNLN',
 'TN4',
 'TN5',
 'TN6',
 'TN8',
 'TN9',
 'TN10',
 'TN11',
 'TN12_1',
 'TN12_2',
 'TN12_3',
 'TN12_4',
 'HH6',
 'HH7',
 'MWDOI',
 'MWDOB',
 'MWAGE',
 'MWDOM',
 'MWAGEM',
 'MWDOBLC',
 'MMSTATUS',
 'MCEB',
 'MCSURV',
 'MCDEAD',
 'mwelevel',
 'mnweight',
 'wscore',
 'windex5',
 'wscoreu',
 'windex5u',
 'wscorer',
 'windex5r']

In [ ]:
# 헤더 시작 2행
header_rows[:2]

[['Name', 'Label', 'Question'], ['HH1', 'Cluster number', '']]

In [ ]:
# bad_rows에 데이터와 일치하지 않는 헤더 목록 만들기
bad_rows = []

for h in header_rows:
    if h[0] not in data_rows[0]:
        bad_rows.append(h)

len(bad_rows)

# 150개의 교집합, 60개의 불량 헤더목록 데이터, mismatch 데이터 9개
# 9개는 어떻게 할 것인가? --> 9개 처리하기 힘들면 버리거나, 중요한 정보면 어떻게 살릴 것인가를 판단(ex) header 파일에 추가)
# 여기선 2개 살리고, 7개 버린다. 웹스크래핑해서 찾아야겠지만, 그건 힘드니 다른 파일에 2개에 대한 설명이 들어 있게 했음

60

In [ ]:
# 헤더(설명) 파일에서 일치하지 않는 헤더 제거
for h in bad_rows:
    header_rows.remove(h)
len(header_rows)

150

In [ ]:
# 정리된 헤더 목록에 없는 데이터 헤더 목록 찾기
all_short_headers = [h[0] for h in header_rows]
for header in data_rows[0]:
    if header not in all_short_headers:
        print('mismatch', header)

# 대문자로 있는 2개의 label은 의미가 있으니 살리고, 소문자로 되어 있는 7개의 레이블은 버린다.

mismatch
mismatch MDV1F
mismatch MTA8E
mismatch mwelevel
mismatch mnweight
mismatch wscoreu
mismatch windex5u
mismatch wscorer
mismatch windex5r

In [ ]:
# mn_headers.csv는 210개였다면, mn_headers_updated.csv는 대문자 2개의 레이블이 추가된 212개로 구성

data_rdr = reader(open('mn_cut100.csv', 'rt'))
header_rdr = reader(open('mn_headers_updated.csv', 'rt', encoding = 'utf8'))

# list comprehension
data_rows = [d for d in data_rdr]
# 데이터에 없는 헤더는 제거하고 헤더 리스트를 만든다.
header_rows = [h for h in header_rdr if h[0]in data_rows[0]]

# 두 헤더의 길이 출력
print(len(data_rows[0]))
print(len(header_rows))

159
152

In [ ]:
# mismatch 7개 데이터 index 추출
skip_index = []
all_short_headers = [h[0] for h in header_rows]
for header in data_rows[0]:
    if header not in all_short_headers:
        index = data_rows[0].index(header)
        skip_index.append(index)
skip_index

[0, 151, 152, 155, 156, 157, 158]

In [ ]:
# mismatch 삭제 159 --> 152
new_data = []
for row in data_rows:
    new_row = []
    for i, d in enumerate(row):
        if i not in skip_index:
            new_row.append(d)
    new_data.append(new_row)

len(new_data[0])

152

In [ ]:
# 데이터에ㅓ mistmatch 7개를 삭제한 data_headers 만들기
data_headers = []
for i, header in enumerate(data_rows[0]):
    if i not in skip_index:
        data_headers.append(header)
len(data_headers)

152

In [ ]:
# 어긋나는 위치 확인
# ('MMC1', 'MTA1')부터 어긋남
for i, header in enumerate(data_headers):
    if header not in all_short_headers[i]:
        print(header, all_short_headers[i])

MMC1 MTA1
MMC2 MTA2
MMC3 MTA3
MMC4 MTA4
MTA1 MTA5
MTA2 MTA6
MTA3 MTA7
MTA4 MTA8A
MTA5 MTA8B
MTA6 MTA8C
MTA7 MTA8D
MTA8A MTA8E
MTA8B MTA8X
MTA8C MTA9
MTA8D MTA10
MTA8E MTA11
MTA8X MTA12A
MTA9 MTA12B
MTA10 MTA12C
MTA11 MTA12X
MTA12A MTA13
MTA12B MTA14
MTA12C MTA15
MTA12X MTA16
MTA13 MTA17
MTA14 HH6
MTA15 HH7
MTA16 MWDOI
MTA17 MWDOB
TNLN MWAGE
TN4 MWDOM
TN5 MWAGEM
TN6 MWDOBLC
TN8 MMSTATUS
TN9 MCEB
TN10 MCSURV
TN11 MCDEAD
TN12_1 MMC1
TN12_2 MMC2
TN12_3 MMC3
TN12_4 MMC4
HH6 TNLN
HH7 TN4
MWDOI TN5
MWDOB TN6
MWAGE TN8
MWDOM TN9
MWAGEM TN10
MWDOBLC TN11
MMSTATUS TN12_1
MCEB TN12_2
MCSURV TN12_3
MCDEAD TN12_4

In [ ]:
'''# 어긋나는 위치 확인
# ('MMC1', 'MTA1')부터 어긋남
# new_data도 사용 가능함
for i, header in enumerate(new_data[0]):
    if header not in all_short_headers[i]:
        print(header, all_short_headers[i])'''

"# 어긋나는 위치 확인\n# ('MMC1', 'MTA1')부터 어긋남\n# new_data도 사용 가능함\nfor i, header in enumerate(new_data[0]):\n    if header not in all_short_headers[i]:\n        print(header, all_short_headers[i])"

In [ ]:
skip_index = []
final_header_rows = []
all_short_headers = [h[0] for h in header_rows]

for header in data_rows[0]:
    if header not in all_short_headers:
        index = data_rows[0].index(header)
        skip_index.append(index)
        # 어긋나는 부분 재배열
    else:
        for head in header_rows:
            if head[0] == header:
                final_header_rows.append(head)
                break
skip_index

[0, 151, 152, 155, 156, 157, 158]

In [ ]:
# 헤더 설명 list 만들기
header1 = []
for row in final_header_rows:
    header1.append(row[1])
header1

['Cluster number',
 'Household number',
 'Line number',
 'Cluster number',
 'Household number',
 "Man's line number",
 'Interviewer number',
 'Day of interview',
 'Month of interview',
 'Year of interview',
 "Result of man's interview",
 'Field editor',
 'Data entry clerk',
 'Start of interview - Hour',
 'Start of interview - Minutes',
 'End of interview - Hour',
 'End of interview - Minutes',
 'Month of birth of man',
 'Year of birth of man',
 'Age of man',
 'Ever attended school',
 'Highest level of school attended',
 'Highest grade completed at that level',
 'Can read part of the sentence',
 'Frequency of reading newspaper or magazine',
 'Frequency of listening to the radio',
 'Frequency of watching TV',
 'Ever used a computer',
 'Computer usage in the last 12 months',
 'Frequency of computer usage in the last month',
 'Ever used internet',
 'Internet usage in the last 12 months',
 'Frequency of Internet usage in the past month',
 'Ever used a mobile or non-mobile phone',
 'Mobile or non-mobile phone usage in the last 12 months',
 'Frequency of mobile or non-mobile usage in the past month',
 'Ever fathered any children with any women',
 'Age when first child was born',
 'Any sons or daughters living with you',
 'Sons living with you',
 'Daughters living with you',
 'Any sons or daughters not living with you',
 'Sons living elsewhere',
 'Daughters living elsewhere',
 'Ever had child who later died',
 'Boys dead',
 'Girls dead',
 'Children ever born',
 'Same biological mother',
 'Number of women respondent fathered children with',
 'Month of last birth',
 'Year of last birth',
 'If she goes out with out telling husband: wife beating justified',
 'If she neglects the children: wife beating justified',
 'If she argues with husband: wife beating justified',
 'If she refuses sex with husband: wife beating justified',
 'If she burns the food: wife beating justified',
 'Is she commits infidelity: wife beating justified',
 'Currently married or living with a man',
 'Haveing other wives or liveing with other women as if you are married',
 'How many other wives / partners living with you',
 'Ever married or lived with a woman',
 'Marital status',
 'Married or lived with a woman once or more than once',
 'Month of first union',
 'Year of first union',
 'Age at first union',
 'Age at first sexual intercourse',
 'Condom used during first sexual intercourse',
 'Time since last sexual intercourse (unit)',
 'Time since last sexual intercourse (number)',
 'Condom used at last sexual intercourse',
 'Relationship to last sexual partner',
 'Sex with any other person in the last 12 month',
 'Condom used with prior sexual partner',
 'Relationship to prior sexual partner',
 'Sex with any other man in the last 12 months',
 'Number of sex partners in last 12 months',
 'Number of sex partners in lifetime',
 'Ever heard of AIDS',
 'Can avoid AIDS virus by having one uninfected partner',
 'Can get AIDS virus through supernatural means',
 'Can avoid AIDS virus by using a condom correctly every time',
 'Can get AIDS virus from mosquito bites',
 'Can get AIDS virus by sharing food with a person who has AIDS',
 'Healthy-looking person may have AIDS virus',
 'AIDS virus from mother to child during pregnancy',
 'AIDS virus from mother to child during delivery',
 'AIDS virus from mother to child through breastfeeding',
 'Should female teacher with AIDS virus be allowed to teach in school',
 'Would buy fresh vegetables from shopkeeper with AIDS virus',
 'If HH member became infected with AIDS virus, would want it to remain a secret',
 'Willing to care for person with AIDS in household',
 'Ever been tested for AIDS virus',
 'Most recent time of testing for AIDS virus',
 'Received results of AIDS virus test',
 'Know a place to get AIDS virus test',
 'Respondent is circumcised',
 'Age at circumcision',
 'Person performing circumcision',
 'Place of circumcision',
 'Ever tried cigarette smoking',
 'Age when cigarette was smoked for the first time',
 'Currently smoking cigarettes',
 'Number of cigarettes smoked in the last 24 hours',
 'Number of days when cigarettes were smoked in past month',
 'Ever tried any smoked tobacco products other than cigarettes',
 'Used any smoked tobacco products during the last month',
 'Type of smoked tobacco product: Cigars',
 'Type of smoked tobacco product: Water pipe',
 'Type of smoked tobacco product: Cigarillos',
 'Type of smoked tobacco product: Pipe',
 'Type of smoked tomacco product: Rolled tobacco',
 'Type of smoked tobacco product: Other',
 'Number of days when tobacco products where smoked in past month',
 'Ever tried any form of smokeless tobacco products',
 'Used any smokeless tobacco products during the last month',
 'Type of smokeless tobacco product used: Chewing tobacco',
 'Type of smokeless tobacco product used: Snuff',
 'Type of smokeless tobacco product used: Dip',
 'Type of smokeless tobacco product used: Other',
 'Number of days when smokeless tobacco products where used in past month',
 'Ever drunk alcohol',
 'Age when alcohol was used for the first time',
 'Number of days when at least one drink of alcohol was used in past month',
 'Number of drinks usually consumed',
 'Net number',
 'Mosquito net observed',
 'Brand/type of observed net',
 'Months ago net obtained',
 'Net treated with an insecticide when obtained',
 'Net soaked or dipped since obtained',
 'Months ago net soaked or dipped',
 'Persons slept under mosquito net last night',
 'Person 1 who slept under net',
 'Person 2 who slept under net',
 'Person 3 who slept under net',
 'Person 4 who slept under net',
 'Area',
 'Region',
 'Date of interview women (CMC)',
 'Date of birth of woman (CMC)',
 'Age',
 'Date of marriage (CMC)',
 'Age at first marriage/union',
 'Date of birth of last child (CMC)',
 'Marital/Union status',
 'Children ever born',
 'Children surviving',
 'Children dead',
 'Wealth index score',
 'Wealth index quintiles']

In [ ]:
# 데이터에 헤더설명 추가
new_data.insert(1, header1)

In [ ]:
# list --> dataframe csv 저장
import pandas as pd

df = pd.DataFrame(new_data)
df.to_csv('mn_clean02.csv', index = False)

In [ ]:
# csv writer

import csv
with open('mn_clean02.csv', 'w', newline='', encoding = 'utf8') as f:
    writer = csv.writer(f)
    writer.writerow(new_data)