# 변수와 참조에 의한 전달
## 파이썬에서 변수에 값을 대입하면 대입연산자(=) 오른쪽에 있는 객체에 대한 참조를 생성

In [4]:
a = [1, 2, 3]

In [5]:
# 변수와 참조에 의한 전달
b = a

In [6]:
a.append(4)

In [7]:
b

[1, 2, 3, 4]

# 자료형

## 숫자 자료형 (int)

In [8]:
# 숫자 자료형 (int)
ival = 1723897

In [10]:
ival ** 6

26246287594448069309152190229646704529

## 숫자 자료형 (float)

In [11]:
# 숫자 자료형 (float)
fval = 7.243

In [12]:
fval = 6.78e-5

In [13]:
# 파이썬 3버전에서 정수 나눗셈은 정수를 반환하지 않고 부동소수점 숫자 반환
3 / 2

1.5

## 문자열

In [15]:
# 문자열 (작은 따옴표, 큰 따옴표)
a = 'one way of writing a string'
b = "another way"

In [14]:
c = '''
This is a longer string that
spans multiple lines
'''

In [17]:
# 두 문자열 이어붙이기
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

## 문자열 템플릿(형식) 출력

In [18]:
# 문자열 템플릿 (형식)
template = '%.2f %s are worth $%d'
template%(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [20]:
print('%.2f %s are worth $%d' %(4.5560, 'Argentine Pesos', 1))

4.56 Argentine Pesos are worth $1

In [21]:
# format 함수
'{0:0.2f} {1} are worh {2}'.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worh 1'

## boolean (불리언)

In [22]:
# 불리언(Boolean)
True and True

True

In [24]:
False or True

True

In [27]:
a = [1, 2, 3]
if a:
    print('I found somethings!')

I found somethings!

In [28]:
b = []
if not b:
    print('Empty')

Empty

In [29]:
bool([]), bool([1, 2, 3])

(False, True)

In [31]:
bool('Hello world!'), bool('')

(True, False)

In [32]:
bool(0),bool(1)

(False, True)

# 튜플
## 일반적으로 데이터 input과 output을 tuple로 저장

In [33]:
# 튜플
tup = 4, 5, 6
tup

(4, 5, 6)

In [34]:
# 괄호를 사용해서 값을 묶어줌으로써 중첩된 튜플 정의
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [35]:
# 튜플에서 값 분리하기
tup = (4, 5, 6)

In [36]:
a, b, c = tup

In [37]:
b

5

In [38]:
tup = 4, 5, (6, 7)

In [39]:
a, b, (c, d) = tup

In [40]:
d

7

# 리스트
## 튜플과는 대조적으로 리스트는 크기나 내용의 변경이 가능
## 대괄호 []나 list 함수 사용해서 생성

In [41]:
# 리스트
a_list = [2, 3, 7, None]

In [42]:
tup = ('foo', 'bar', 'baz')

In [43]:
b_list = list(tup)

In [44]:
b_list

['foo', 'bar', 'baz']

In [45]:
b_list[1] = 'peekaboo'

In [46]:
b_list

['foo', 'peekaboo', 'baz']

## 리스트 슬라이싱

In [48]:
# 슬라이싱
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [49]:
seq[1:5]

[2, 3, 7, 5]

In [50]:
seq[3:4] = [6, 3, 1]

In [51]:
seq

[7, 2, 3, 6, 3, 1, 5, 6, 0, 1]

In [52]:
seq[:5]

[7, 2, 3, 6, 3]

In [53]:
seq[3:]

[6, 3, 1, 5, 6, 0, 1]

In [54]:
seq[-4:]

[5, 6, 0, 1]

In [55]:
seq[-6:-2]

[3, 1, 5, 6]

In [56]:
seq[::2]

[7, 3, 3, 5, 0]

In [57]:
seq[::-1]

[1, 0, 6, 5, 1, 3, 6, 3, 2, 7]

# 내장 순차 자료형 함수 (sorted)
## 정렬된 새로운 순차 자료형 반환

In [58]:
# 내장 순차 자료형 함수: sorted
# 정렬된 새로운 순차 자료형 반환
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [59]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

# 내장 순차 자료형 함수 (zip)
## 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트 생성

In [60]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [61]:
zip(seq1, seq2)

In [62]:
seq3 = [False, True]

In [63]:
zip(seq1, seq2, seq3)

In [64]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d %s %s' %(i, a, b))

0 foo one
1 bar two
2 baz three

# 사전(dict)
## 파이썬 내장 자료 구조 중 가장 중요한 자료 구조
## 일반적으로 해시맵 또는 연관 배열이라고 알려져 있음

In [65]:
empty_dict = {}

In [66]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [67]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [68]:
d1['b']

[1, 2, 3, 4]

In [69]:
'b' in d1 # 사전에 어떤 키가 있는지 확인

True

# 세트
## 유일한 원소만 담는 정렬되지 않는 자료형

In [70]:
# set 함수
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [71]:
# 중괄호 {} 이용
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

# 퀴즈 1 (22페이지)

In [75]:
# 다음 코드의 결괏값은 무엇일까?
a = 'Life is too short, you need python'
if 'wife' in a: print("wife")
elif "python" in a and 'you' not in a: print("python")
elif 'shirt' not in a: print('shirt')
elif "need" in a: print("need")
else: print('none')

shirt

# 퀴즈 2 (22페이지)

In [79]:
# while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자.
result = 0
i = 1
while i != 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

# 퀴즈 3 (23페이지)

In [81]:
# 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [83]:
# 위 코드를 리스트 내포를 사용하여 표현해보자.
numbers = [1, 2, 3, 4, 5]

result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

# 퀴즈 4 (24페이지)

In [87]:
# 주어진 자연수가 홀수인지 짝수인지 판별해주는 함수를 작성해보자.
def is_odd(number):
    if number % 2 == 1: # 홀수
        return True
    else:
        return False
        result.append(n * 2)

print(is_odd(2))
print(is_odd(3))

False
True

# 퀴즈 5 (25페이지)

In [88]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자.

def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result

print(avg_numbers(1, 2))
print(avg_numbers(1, 2, 3, 4, 5))

3
15