# 2주차 1-1. 대학교 성적 등급 만들기
## input 사용 (키보드에서 입력 받아라)
## while -> stop
## list, 배열, 꽤 쓸만한 등급체계 알고리즘을 만들어 보세요.
## 주석 넣기

In [ ]:
# while문으로 반복 진행
while True:
    # 점수와 과목 input으로 입력받기
    score = int(input('성적을 입력하세요.: '))
    subject = input('과목을 입력하세요.: ')

    # 학점 조건문
    if score >= 95:
        grade = 'A+'
    elif score >= 90:
        grade = 'A'
    elif score >= 85:
        grade = 'B+'
    elif score >= 80:
        grade = 'B'
    elif score >= 75:
        grade = 'C+'
    elif score >= 70:
        grade = 'C'
    elif score >= 65:
        grade = 'D+'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'

    # 결과  출력
    print(f'{subject} 과목의 점수는 {score}이고, 학점은 {grade}입니다.')

    # while문 빠져나오기 위한 조건 추가
    exit  = input('계속 점수를 확인하실건가요? (yes/no) ')
    if exit == 'no':
        break

성적을 입력하세요.: 95
과목을 입력하세요.: 수학
수학 과목의 점수는 95이고, 학점은 A+입니다.
계속 점수를 확인하실건가요? (yes/no) yes
성적을 입력하세요.: 51
과목을 입력하세요.: 영어
영어 과목의 점수는 51이고, 학점은 F입니다.
계속 점수를 확인하실건가요? (yes/no) no

# 2주차 2-1

In [ ]:
# x값 입력받기
x = -3

# 조건문에 따라 출력
if x < 0:
    print('it\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

it's negative

# 2주차 3-1

In [ ]:
# 단순하게 반복을 하는 경우 range 이용
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# 특정한 list를 사용해야 하는 경우
dates = ['0302', '0309', '0316', '0323']
for date in dates:
    print('The lecture is held on ' + date)

The lecture is held on 0302
The lecture is held on 0309
The lecture is held on 0316
The lecture is held on 0323

# 2주차 5-1

In [ ]:
# continue 예약어 사용
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue # 건너뛰고 다음 순회로 넘어감
    total += value

total

12

# 2주차 6-1

In [ ]:
# break 예약어 사용
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0

for value in sequence:
    if value == 5:
        break # for문을 빠져나감
    total_until_5 += value

total_until_5

13

# 2주차 7-1

In [ ]:
i = 0
collection = [1, 2, 5]
total = 0

# collection 값을 모두 더한 값 구하기
# enumerate 사용
for i, value in enumerate(collection):
    total += int(value)
    print(f'{i}번째까지 더했을 때, total 값은 {total}이다.')

0번째까지 더했을 때, total 값은 1이다.
1번째까지 더했을 때, total 값은 3이다.
2번째까지 더했을 때, total 값은 8이다.

# 2주차 8-1

In [ ]:
# 특정한 list를 사용해야 하는 경우
dates = ['0302', '0309', '0316', '0323', '0323']

for i, date in enumerate(dates):
    print('The ' + str(i) + 'th lecture is held on ' + date)

The 0th lecture is held on 0302
The 1th lecture is held on 0309
The 2th lecture is held on 0316
The 3th lecture is held on 0323
The 4th lecture is held on 0323

# 2주차 9-1

In [ ]:
# 임의의 리스트 생성
collection = [1, 3, 5, 2, 4, 6]

result = []

for val in collection:
    if val % 2 == 0:  #  val이 짝수인 경우
        result.append(val * 2)  # 짝수일 경우에는 val을 2배로 곱한 값을 결과에 추가

print(result)

[4, 8, 12]

# 2주차 10-1

In [ ]:
# 문자열 길이가 2 이하인 문자열 제외하고 나머지를 대문자로 바꾸는 예제
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

# 2주차 11-1

In [ ]:
# 직접 해본 경우
Names = ['leebyunghun', 'leehyolee', 'kangdongwon', 'Yoojaesuk', 'leeyoungja']
list_lee = []

for name in Names:
    if name[0:3] == 'lee':
        list_lee.append(name)

print(list_lee)

['leebyunghun', 'leehyolee', 'leeyoungja']

# 2주차 12-1

In [ ]:
# 답안지에 있는 경우

# 'lee'씨 성을 가진 사람들로 새로운 리스트 구성
lee_family = []

# Names 리스트를 반복하며 'lee'씨 성을 가진 사람들만 추출
for name in Names:
    if name.startswith('lee'):
        lee_family.append(name)

print(lee_family)

['leebyunghun', 'leehyolee', 'leeyoungja']

In [ ]:
# 답안지에 있는 경우

# 'lee'씨 성을 가진 사람들로 새로운 리스트 구성
lee_family = []

# Names 리스트를 반복하며 'lee'씨 성을 가진 사람들만 추출 (인덱스 활용)
for i in range(len(Names)):
    if Names[i].startswith('lee'):
        lee_family.append(Names[i])

print(lee_family)

['leebyunghun', 'leehyolee', 'leeyoungja']
['leebyunghun', 'leehyolee', 'leeyoungja']

# 2주차 13-1

In [ ]:
# while 반복문
x = 0
while x < 5:
    x += 1
    print(x)

1
2
3
4
5

#2주차 14-1

In [ ]:
# 연속된 정수의 리스트 생성: range(stop)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 연속된 정수의 리스트 생성: range(start, stop, [, step])
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

# 2주차 15-1

In [ ]:
# 0에서 9999까지 숫자 중 3이나 5의 배수 값의 합 구하기

sum = 0

for i in range(10000):
    if i % 3 == 0 or i % 5 == 0:
        sum += 1

sum

4667

2주차 16-1

In [ ]:
# 함수 사용
def my_function(x, y, z = 1.5):
    # z가 1보다 큰 경우
    if z > 1:
        return z * (x + y)
    # z가 1보다 작은 경우
    else:
        return z / (x + y)

In [ ]:
my_function(5, 6, z = 0.7)

0.06363636363636363

In [ ]:
my_function(3.14, 7, 3.5)

35.49

# 2주차 17-1

In [ ]:
# add 더하기 함수 만들기
def add(a, b):
    result = a + b
    return result

In [ ]:
a = add(3, 4)
print(a)

7

# 2주차 18-1

In [ ]:
# Hi 값을 리턴하는 say 함수 만들기
def say():
    return('Hi')

In [ ]:
a = say()
print(a)

Hi

# 2주차 19-1

In [ ]:
# *매개변수 사용하고, 더하는 함수 만들기
def add_many(*args):
    result = 0

    for i in args:
        result = result + i

    return result

In [ ]:
result = add_many(1, 2, 3)
print(result)

6

# 2주차 20-1

In [ ]:
# 지역 변수 사용하는 경우
def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
func()
a

[]

In [ ]:
# 전역 변수 사용하는 경우
a = []
def func():
    for i in range(5):
        a.append(i)

func()
a

[0, 1, 2, 3, 4]

# 2주차 21-1

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [ ]:
a, b, c = f()
a, b, c

(5, 6, 7)

In [ ]:
return_value = f()
return_value

(5, 6, 7)

In [ ]:
# dictionary 리턴
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a,'b': b,'c': c}

In [ ]:
return_value = f()
return_value

{'a': 5, 'b': 6, 'c': 7}