# 1. 기본 딕셔너리 관련 문제
## 1-1. key가 book이고, value가 노인과 바다인 쌍을 추가하고 출력하시오.
## 1-2. 이 딕셔너리 값들을 반복문으로 출력하시오.

In [1]:
dict = {'name': '김연주', 'age': 23, 'birth': '2002-08-22'}
dict

{'name': '김연주', 'age': 23, 'birth': '2002-08-22'}

# 2. seoul_csv 파일 관련 문제 
## 2-1. header를 출력하시오.
## 2-2. seoul의 최저 기온과 최저 기온에 해당하는 날짜를 출력하시오.

# 3. users.json 파일 관련 문제
## 3-1. users을 아래 포맷으로 출력
[{'id': 0, 'name': 'Hero'},
 {'id': 1, 'name': 'Dunn'},
 {'id': 2, 'name': 'Sue'},
 {'id': 3, 'name': 'Chi'},
 {'id': 4, 'name': 'Thor'},
 {'id': 5, 'name': 'Clive'},
 {'id': 6, 'name': 'Hicks'},
 {'id': 7, 'name': 'Devin'},
 {'id': 8, 'name': 'Kate'},
 {'id': 9, 'name': 'Klein'}]'Klein'}]

# 3-2. friendship_pairs을 아래 포맷으로 출력
[(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4), (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

# 3-3. 이전 2개의 데이터를 활용하여 id를 key로 사용하고, 해당 id의 모든 친구 목록을 값으로 구성한 firendship 딕셔너리를 생성하시오.
{0: [1, 2], 1: [0, 2, 3], 2: [0, 1, 3], 3: [1, 2, 4], 4: [3, 5], 5: [4, 6, 7], 6: [5, 8], 7: [5, 8], 8: [6, 7, 9], 9: [8]}

# 4. mid-term-rss3.xml을 분석하여, 아래 도시명과 날씨 정보들을 xml에서 파싱하고, 아래 포맷으로 출력되도록 프로그램을 작성하시오.

< 서울 >  
2024-04-06 00:00 구름많음 	 8 ~ 19 도  
2024-04-06 12:00 구름많음 	 8 ~ 19 도  
2024-04-07 00:00 구름많음 	 8 ~ 21 도  
2024-04-07 12:00 맑음 	 8 ~ 21 도  
2024-04-08 00:00 맑음 	 9 ~ 22 도  
2024-04-08 12:00 맑음 	 9 ~ 22 도  
2024-04-09 00:00 맑음 	 9 ~ 20 도

# 5-1. data-text csv을 읽고, 처음부터 20행까지의 데이터를 추출하여 csv 데이터 파일을 만드시오.
## SQLite에 저장하기

In [2]:
with open('data-text20.csv','w' ,newline = '') as f: # w가 있어야 파일 새로 만들어짐, 원래 없으면 안 됨
    writer = csv.writer(f)
    writer.writerows(rows[:20])

NameError: name 'csv' is not defined

# 5-2. 20행 csv 파일을 읽어, 이 중 'Indicator', 'Country', 'Display Value' 필드만 추출하여 SQLite 데이터베이스에 저장하시오.

# 6-1. data-text csv을 읽고, 처음부터 100행까지의 데이터를 추출하여 csv 데이터 파일을 만드시오.
## DataFrame으로 SQLite에 저장하기

# 6-2. 100행 csv 파일을 읽어, 뒤에서 20행에 대한 'Indicator', 'Year', 'Country', 'Sex' 필드만 추출하여 데이터프레임을 만들고 출력하시오. 그리고 2번째 행의 'Year' 필드를 1990년에서 2002년으로 수정하고 SQLite 데이터베이스에 저장하시오.