# 1. 속으로 20초 세어 맞히는 프로그램

준비되면 엔터를 누르세요
20초 되면 누르세요
4.593265771865845 초
15.406734228134155 초

# 2. 무작위로 덧셈 문제 만들어서 맞히는 프로그램

5 + 20 =
25
정답
1 + 10 =
11
정답
10 + 12 =
22
정답
정답 개수: 3

# 3. 1부터 10까지의 합 (for문과 while문)

55

55

# 4. 숫자를 추측해서 맞히는 프로그램

예측 숫자:20
숫자 더 키워
예측 숫자:25
숫자 줄여
예측 숫자:22
숫자 줄여
예측 숫자:21
정답

# 5. 1부터 n까지의 합 (함수)

55

# 6. factorial (1부터 n까지 곱) (함수)

120

# 7. factorial (1부터 n까지 곱) (재귀함수)

120

# 7-1. 역 factorial

# 8. fibonacci 함수 (재귀함수)
## 0 1 1 2 3

3

# 9. 계산 문제를 맞히는 경우 (str)

16*10
160
정답
15*14
20
오답
5-7
-2
정답
14*14
10
오답
20*15
22
오답
정답 개수: 2
오답 개수: 3

# 10. 타자 게임

tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:tiger
정답
dragon
타자 입력:dragon
정답
tiger
타자 입력:tiger
정답
tiger
타자 입력:tiger
정답
tiger
타자 입력:tiger
정답
소요된 시간: 16.80803656578064 초

# 11. matrix 총합 및 행렬곱

In [ ]:
a = [
[5, 7, 9],
[15, 17, 19],
[25, 27, 29]]

153

In [ ]:
a = [
[3, 2, 1],
[4, 3, 2],
[0, 1, 0]]

b = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]

[[18, 24, 30], [30, 39, 48], [4, 5, 6]]

# 12. CSV 읽기

# 13. folium 관련 코드

# 14. 리스트

In [ ]:
# Life 인덱싱으로 출력

b = [1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

# a, b 합치는 2가지 방법

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

# [1, 4, 5, 6, 3] 만드시오.


# [1, [4,5,6], 5, 6, 3] 만드시오.

In [ ]:
a = [1, 2, 3, 4, 5]

# 4 값 지우기 2가지 방법 -1

In [ ]:
a = [1, 2, 3, 4, 5]

# 4 값 지우기 2가지 방법 -2

In [ ]:
a = [1, 2, 3, 4]

# a 마지막 요소에 10 추가하기

In [ ]:
a = [4, 7, 2, 1]

# a 값 순서 뒤집기

In [ ]:
a = [4, 2, 8, 1]

# a에서 2 값의 인덱스 구하기

In [ ]:
a = [4, 7, 2, 1]

# 첫번째에 20 값 입력하기

In [ ]:
a = [4, 7, 2, 1]

# 마지막 요소 리스트에서 뺴고 저장하기

In [ ]:
a = [4, 7, 2, 1]

# pop 작업을 del로 하기

In [ ]:
a = [4, 7, 2, 1]

# pop 작업으로 7 빼기

In [ ]:
a = [4, 1, 1, 2, 1]

# a에서 1 값 개수 세기

In [ ]:
a = [4, 1, 1, 2, 1]

# 리스트 함수 사용하지 않고, 1 값 개수 세기

In [ ]:
a = [4, 7, 2, 1]

# 내림차순 정렬

In [ ]:
a = [[200, 500, 1], [1, 200, 300], [9, 8, 7]]

# 3번째 값에 따라 내림차순 정렬

In [ ]:
a = [[200, 500, 1], [1, 200, 300], [9, 8, 7]]

# 2번째 값에 따라 내림차순 정렬

In [ ]:
a = 'hello those guys come from korea'

# 띄어쓰기로 분할해서 리스트 저장

In [ ]:
a = 'hello those guys come from korea'

# o로 분할해서 리스트 저장

# 15. list comprehension

In [ ]:
# 1에서 5까지 각각의 제곱을 list로 저장

In [ ]:
# 위를 list comprehension으로

In [ ]:
# 1에서 10까지의 홀수를 list로 저장

In [ ]:
# 위를 list comprehension으로

# 16. csv 파일 다루기

In [6]:
# people.csv 파일 읽기

['\ufeff이름', '나이', '성별', '도시']
['홍길동', '21', '0', '서울']
['유관순', '23', '1', '부산']
['이이무', '42', '1', '경기']

In [ ]:
# mywrite.csv 파일 작성하기 (이름, 나이, 성별, 주소) 그리고 2개의 행 추가하기

# 17. folium

In [ ]:
# 지도 만들기

In [ ]:
# CartoDB dark_matter로 map tile 바꾸기

In [ ]:
# latitute, longitude에 야구장 Marker 찍기

In [ ]:
# 37.556175, 127.0035507에 Circle 찍기

In [ ]:
# Choropleth 입히기 (TL_SCCO_SIG_WGS84_euc_kr.json)

In [ ]:
# kyochon_geo.csv 데이터로 빨간색 circle 찍기

In [ ]:
# 위의 데이터로 첫 번째, 두번째, 세번째 각각을 발생 크기에 따라 다르게 해주고, red, orange, green으로 표시하라.
import csv

f = open('도로교통공단_사망 교통사고 정보_20221231.csv', 'r', encoding = 'cp949')
r = csv.reader(f)
next(r)


data = []

for i in r:
    i[4] = int(i[4])
    i[5] = int(i[5])
    i[6] = int(i[6])
    i[7] = int(i[7])
    i[8] = int(i[8])
    i[-1] = float(i[-1])
    i[-2] = float(i[-2])
    data.append([i[4], i[5] + i[6],i[7] + i[8], i[-1], i[-2]])

print(data)

# turtle

## -1. 다각형 그리는 함수 (turtle)

## -2. 막 돌아다니는 거북이

# -3. 거북이 대포 게임

## -4. 터틀런

## -5. 터틀런 2