# 1. 속으로 20초 세어 맞히는 프로그램

In [8]:
import time

input("20초를 셀 준비하면 엔터 누르세요")
start = time.time()

input("20초가 지났을 거 같을 떄 누르세요")
end = time.time()

et = end - start
print("실제 시간:", et, "초")

print("차이 :", abs(et - 20), "초")

20초를 셀 준비하면 엔터 누르세요
20초가 지났을 거 같을 떄 누르세요
실제 시간: 1.7472176551818848 초
차이 : 18.252782344818115 초

# 2. 무작위로 덧셈 문제 만들어서 맞히는 프로그램

In [10]:
import random

count = 0

for i in range(3):
    a = random.randint(1, 20)
    b = random.randint(1, 20)

    print(a,'+', b, '=')
    c = int(input())

    if a+b == c:
        print('정답')
        count += 1

    else:
        print("오답")

print("정답 개수:", count)

5 + 20 =
25
정답
1 + 10 =
11
정답
10 + 12 =
22
정답
정답 개수: 3

# 3. 1부터 10까지의 합 (for문과 while문)

In [11]:
s = 0

for i in range(1, 11):
    s += i

print(s)

55

In [12]:
s = 0
i = 0

while i <= 10:
    s += i
    i += 1

print(s)

55

# 4. 숫자를 추측해서 맞히는 프로그램

In [13]:
import random

a = random.randint(1, 30)



while True:
    x = int(input("예측 숫자:"))

    if x == a:
        print("정답")
        break
    if x < a:
        print("숫자 더 키워")
    if x> a:
        print("숫자 줄여")

예측 숫자:20
숫자 더 키워
예측 숫자:25
숫자 줄여
예측 숫자:22
숫자 줄여
예측 숫자:21
정답

# 5. 1부터 n까지의 합 (함수)

In [15]:
def sum(n):
    s = 0
    for i in range(1, n+1):
        s += i

    return s

sum(10)

55

# 6. factorial (1부터 n까지 곱) (함수)

In [16]:
def factorial(n):
    f = 1
    for i in range(1, n+1):
        f *= i

    return f

factorial(5)

120

# 7. factorial (1부터 n까지 곱) (재귀함수)

In [17]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

factorial(5)

120

# 7-1. 역 factorial

In [2]:
def factorial_t(x):
    n = 1
    while x > 1:
        n += 1
        x /= n

    return n

factorial_t(24)

4

# 8. fibonacci 함수 (재귀함수)
## 0 1 1 2 3

In [18]:
def fib(n):
    if n >= 2:
        return fib(n-1) + fib(n-2)

    elif n == 1:
        return 1
    else:
        return 0

fib(4)

3

# 9. 계산 문제를 맞히는 경우 (str)

In [19]:
import random

def make_question():
    a = random.randint(1, 20)
    b = random.randint(1, 20)

    op = random.randint(1, 3)

    if op == 1:
        q = str(a) + '+'
    if op == 2:
        q = str(a) + '-'
    if op == 3:
        q = str(a) + '*'

    q = q + str(b)

    return q

sc1 = 0
sc2 = 0

for i in range(5):
    q = make_question()
    print(q)

    x = int(input())

    if eval(q) == x:
        print('정답')
        sc1 += 1
    else:
        print('오답')
        sc2 += 1

print('정답 개수:', sc1)
print('오답 개수:', sc2)

16*10
160
정답
15*14
20
오답
5-7
-2
정답
14*14
10
오답
20*15
22
오답
정답 개수: 2
오답 개수: 3

# 10. 타자 게임

In [22]:
import random
import time

qs = ['lion', 'tiger', 'dragon']
n = 1

start = time.time()

while n <= 5:
    q = random.choice(qs)
    print(q)
    a = input('타자 입력:')

    if q == a:
        print('정답')
        n += 1
        q = random.choice(qs)
    else:
        print('오답')
        print('다시 입력하시오')

end = time.time()
et = end- start

print('소요된 시간:', et, '초')

tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:sd
오답
다시 입력하시오
tiger
타자 입력:tiger
정답
dragon
타자 입력:dragon
정답
tiger
타자 입력:tiger
정답
tiger
타자 입력:tiger
정답
tiger
타자 입력:tiger
정답
소요된 시간: 16.80803656578064 초

# 11. matrix 총합 및 행렬곱

In [24]:
a = [
[5, 7, 9],
[15, 17, 19],
[25, 27, 29]]

s = 0

for i in range(3):
    for j in range(3):
        s += a[i][j]

print(s)

153

In [27]:
a = [
[3, 2, 1],
[4, 3, 2],
[0, 1, 0]]

b = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]

c = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]]



for i in range(3):
    for j in range(3):
        for k in range(3):
            c[i][j] += a[i][k] * b[k][j]

c

[[18, 24, 30], [30, 39, 48], [4, 5, 6]]

# 12. CSV 읽기

In [ ]:
import csv

f = open('data.csv', 'r')

reader = csv.reader(f)

for row in reader:
    print(row)

f.close()

In [ ]:
import csv

f = open('myfile.csv', 'w')

writer = csv.writer(f)

writer.writerow(['a', 'b', 'c'])
writer.writerow(['1', '2', '3'])

f.close()

# 13. folium 관련 코드

In [ ]:
# 교수님 코드

import csv

f = open('kyochon_geo.csv', 'r')
r = csv.reader(f)

data = []

for i in r:
    data.append([i[1], i[5],i[6]])

print(data)

In [ ]:
import folium

m = folium.Map(
    location=[37.5582876, 127.0001671],
    zoom_start=7
    )


for d in data:
    folium.Circle(location=[d[1], d[2]],
                  color = 'red',
                  radius = 1500,
                  popup = d[0],
                  fill = True,
                  fill_opacity = 1).add_to(m)

m

In [ ]:
import pandas as pd

df = pd.read_csv('도로교통공단_사망 교통사고 정보_20221231.csv', encoding = 'cp949')

df

In [ ]:
import csv

f = open('도로교통공단_사망 교통사고 정보_20221231.csv', 'r', encoding = 'cp949')
r = csv.reader(f)
next(r)


data = []

for i in r:
    i[4] = int(i[4])
    i[5] = int(i[5])
    i[6] = int(i[6])
    i[7] = int(i[7])
    i[8] = int(i[8])
    i[-1] = float(i[-1])
    i[-2] = float(i[-2])
    data.append([i[4], i[5] + i[6],i[7] + i[8], i[-1], i[-2]])

print(data)

In [ ]:
# 빨강색, 주황색, 녹색

m = folium.Map(
    location=[37.5582876, 127.0001671],
    zoom_start=7
    )

for d in data:
    if d[0] > 0:
        folium.Circle(location=[d[-2], d[-1]],
                  color = 'red',
                  radius = d[0] * 500).add_to(m)
    if d[1] > 0:
        folium.Circle(location=[d[-2], d[-1]],
                  color = 'orange',
                  radius = d[1] * 500).add_to(m)

    if d[2] > 0:
        folium.Circle(location=[d[-2], d[-1]],
                  color = 'green',
                  radius = d[2] * 500).add_to(m)


m

# 14. 리스트

In [2]:
b = [1, 2, ['a', 'b', ['Life', 'is']]]

# Life 인덱싱으로 출력

b[2][2][0]

'Life'

In [6]:
a = [1, 2, 3]
b = [4, 5, 6]

# a, b 합치는 2가지 방법
a + b # 1

a.extend(b) # 2
a

[1, 2, 3, 4, 5, 6]

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]

# [1, 4, 5, 6, 3]
a[1:2] = b
print(a)

# [1, [4,5,6], 5, 6, 3]
a[1] = b
print(a)

[1, 4, 5, 6, 3]
[1, [4, 5, 6], 5, 6, 3]

In [8]:
a = [1, 2, 3, 4, 5]

# 4 값 지우기 2가지 방법 -1 
a.remove(4)
a

[1, 2, 3, 5]

In [9]:
a = [1, 2, 3, 4, 5]

# 4 값 지우기 2가지 방법 -2
del a[3]
a

[1, 2, 3, 5]

In [11]:
a = [1, 2, 3, 4]

# a 마지막 요소에 10 추가하기
a.append(10)
a

[1, 2, 3, 4, 10]

In [10]:
a = [4, 7, 2, 1]

# a 값 순서 뒤집기
a.reverse()
a

[1, 2, 7, 4]

In [14]:
a = [4, 2, 8, 1]

# a에서 2 값의 인덱스 구하기
a.index(2)

1

In [15]:
a = [4, 7, 2, 1]

# 첫번째에 20 값 입력하기
a.insert(0, 20)
a

[20, 4, 7, 2, 1]

In [17]:
a = [4, 7, 2, 1]

# 마지막 요소 리스트에서 뺴고 저장하기
x = a.pop()
a

[4, 7, 2]

In [18]:
a = [4, 7, 2, 1]

# pop 작업을 del로 하기

x = a[-1]
del a[-1]

a

[4, 7, 2]

In [19]:
a = [4, 7, 2, 1]

# pop 작업으로 7 빼기
a.pop(1)

a

[4, 2, 1]

In [20]:
a = [4, 1, 1, 2, 1]

# a에서 1 값 개수 세기
a.count(1)

3

In [21]:
a = [4, 1, 1, 2, 1]

# 함수로 1 값 개수 세기
count = 0

for x in a:
  if x == 1:
    count += 1

print(count)

3

In [23]:
a = [4, 7, 2, 1]

# 내림차순 정렬
a.sort()
a

[1, 2, 4, 7]

In [26]:
a = [[200, 500, 1], [1, 200, 300], [9, 8, 7]]

# 3번째 값에 따라 오름차순 정렬
a = sorted(a, key = lambda x:x[2])
a

[[200, 500, 1], [9, 8, 7], [1, 200, 300]]

In [28]:
a = [[200, 500, 1], [1, 200, 300], [9, 8, 7]]

# 2번째 값에 따라 내림차순 정렬
a = sorted(a, key = lambda x:x[1], reverse = True)
a

[[200, 500, 1], [1, 200, 300], [9, 8, 7]]

In [29]:
a = 'hello those guys come from korea'

# 띄어쓰기로 분할해서 리스트 저장
a.split()

['hello', 'those', 'guys', 'come', 'from', 'korea']

In [30]:
a = 'hello those guys come from korea'

# o로 분할해서 리스트 저장
a.split('o')

['hell', ' th', 'se guys c', 'me fr', 'm k', 'rea']

# 15. list comprehension

In [31]:
# 1에서 5까지 각각의 제곱을 list로 저장

a = []
for i in range(1, 6):
  a.append(i**2)

a

[1, 4, 9, 16, 25]

In [32]:
# 위를 list comprehension으로

a = [i ** 2 for i in range(1, 6)]
a

[1, 4, 9, 16, 25]

In [33]:
# 1에서 10까지의 홀수를 list로 저장
b = []

for i in range(1, 11):
  if i % 2 == 1:
    b.append(i)

b

[1, 3, 5, 7, 9]

In [35]:
# 위를 list comprehension으로
b = [i for i in range(1, 11) if i % 2 == 1]
b

[1, 3, 5, 7, 9]

# turtle

## -1. 다각형 그리는 함수 (turtle)

In [ ]:
import turtle as t


def polygon(n, a):
    for i in range(n):
        t.forward(a)
        t.left(360/n)

# polygon(3, 5)

## -2. 막 돌아다니는 거북이

In [ ]:
import turtle as t
import random

t.shape("turtle")
t.speed(0)

for i in range(500):
    t.forward(random.randint(1, 360))
    t.setheading(random.randint(0, 360))

# -3. 거북이 대포 게임

In [ ]:
import turtle as t
import random

t.shape('arrow')

# 함수 정의 (10도에서 80도 사이)
def turn_up():
    if t.heading() <= 78:
        t.left(2)

def turn_down():
    if t.heading() >= 12:
        t.right(2)

def fire():
    # 50각형 그리면서 다시 돌아오게(마치 쏘는 것처럼)
    ang = t.heading()
    n = 50
    for i in range(n):
        t.forward(25)
        t.right(360/n)
        if t.ycor() <= 0: # while 하면 위가 다 짧아짐
            a = t.xcor()
            # 성공 여부 판정 (땅에 박혔을 떄 x 좌표가 타겟을 기준으로 +-25 사이에 있으면 성공)
            if a  >= target - 25 and a <= target + 25:
                t.color("blue")
                t.write("Good!", False, "center", ("", 15))
                break
            else:
                t.color("red")
                t.write("Bad!", False, "center", ("", 15))
                break

    t.color("black") # 거북이 색을 다시 검정으로
    t.goto(-200, 10) # 거북이 위치를 처음 발사했던 곳으로 되돌리기
    t.setheading(ang) # 각도도 처음 기억해 둔 각도로 되돌림

'''
def fire():
    ang = t.heading() # 현재 거북이가 바라보는 각도 기억
    while t.ycor() > 0: # 거북이가 땅 위에 있는 동안 반복
        t.forward(15)
        t.right(5)

    # while 문 빠져나오면 거북이가 땅에 닿은 상태임
    d = t.distance(target, 0) # 거북이와 목표 지점과의 거리
    t.sety(random.randint(10, 100)) # 성공 또는 실패를 표시할 위치 지정

    if d < 25: # 거리 차이가 25보다 작으면 성공
        t.color("blue")
        t.write("Good!", False, "center", ("", 15))
    else:
        t.color("red")
        t.write("Bad!", False, "center", ("", 15))
    t.color("black") # 거북이 색을 다시 검정으로
    t.goto(-200, 10) # 거북이 위치를 처음 발사했던 곳으로 되돌리기
    t.setheading(ang) # 각도도 처음 기억해 둔 각도로 되돌림

'''



# 땅 만들기
t.goto(300, 0)
t.goto(-300, 0)
t.home()
t.up()

# target 지점 그리기
target = random.randint(0, 200)
t.goto(target-25, 2)
t.down()
t.pensize(20)
t.color('green')
t.goto(target+25, 2)

# 쏘기 위한 위치로 이동
t.up()
t.color('black')
t.goto(-200, 0)
t.setheading(20)


t.onkeypress(turn_up, 'Up')
t.onkeypress(turn_down, 'Down')
t.onkeypress(fire, "space")
t.listen() # 키보드 입력 받게 하기

## -4. 터틀런

In [ ]:
import turtle as t
import random

t.bgcolor("orange")
t.setup(500, 500)
t.shape("turtle")
t.speed(0)
t.up()
t.color("white")

# 악당 거북이
te = t.Turtle()
te.shape('turtle')
te.color('red')
te.speed(0)
te.up()
te.goto(0, 200)

# 먹이
ts = t.Turtle()
ts.shape('circle')
ts.color('green')
ts.up()
ts.goto(0, -200)

# 함수 정의
def forward():
    t.forward(10)
    #print(t.pos()) # t.xcor(), t.ycor()
    ang = te.towards(t.pos())
    te.setheading(ang)
    te.forward(8)
    if t.distance(ts) < 15:
        print('냠냠')
        s_x = random.randint(-100, 100)
        s_y = random.randint(-100, 100)
        ts.goto(s_x, s_y)
    if t.distance(te) >= 12:
        t.ontimer(forward, 100)


def turn_right(): # 오른쪽
    t.setheading(0)

def turn_left(): # 왼쪽
    t.setheading(180)

def turn_up(): # 위
    t.setheading(90)

def turn_down(): # 아래
    t.setheading(270)


# t.ontimer(forward, 500) # 0.5초
t.onkeypress(turn_right, "Right")
t.onkeypress(turn_up, "Up")
t.onkeypress(turn_left, "Left")
t.onkeypress(turn_down, "Down")
t.listen()
forward()

## -5. 터틀런 2

In [ ]:
import turtle as t
import random

t.title("Turtle Run")

score = 0
playing = False

t.bgcolor("orange")
t.setup(500, 500)
t.shape("turtle")
t.speed(0)
t.up()
t.color("white")

# 악당 거북이
te = t.Turtle()
te.shape('turtle')
te.color('red')
te.speed(0)
te.up()
te.goto(0, 200)

# 먹이
ts = t.Turtle()
ts.shape('circle')
ts.color('green')
ts.up()
ts.goto(0, -200)

# 함수 정의

def turn_right(): # 오른쪽
    t.setheading(0)

def turn_left(): # 왼쪽
    t.setheading(180)

def turn_up(): # 위
    t.setheading(90)

def turn_down(): # 아래
    t.setheading(270)

def start(): #게임 시작 및 초기화
    global playing
    if playing == False:
        t.setup(500, 500) # 그래픽 창 크기
        te.goto(0, 200)
        ts.goto(0, -200)
        t.home()
        playing = True
        t.clear()
        play()

def play():
    global score
    global playing
    t.forward(10)
    if random.randint(1,5) == 3: #20% 확률로 쳐다보기
        ang = te.towards(t.pos())
        te.setheading(ang)
    speed=score+5 #점수가 오를 때 마다 속도 증가
    if speed >15:
        speed = 15
    te.forward(speed)
    if t.distance(te) < 15: #닿으면 점수표시 game over 표시
        text = "Score:"+ str(score)
        meassage("Game Over", text)
        playing = False
        score = 0
    if t.distance(ts) < 15: #먹으면 점수 증가 및 점수 표시
        score = score + 1
        t.write(score)
        s_x = random.randint(-100, 100)
        s_y = random.randint(-100, 100)
        ts.goto(s_x, s_y)
    if playing:
        t.ontimer(play,100)

def meassage(m1,m2): #화면에 메시지 표시
    t.clear()
    t.goto(0,100)
    t.write(m1,False,"center",("",20))
    t.goto(0,-100)
    t.write(m2,False,"center",("",15))
    t.home()

t.onkeypress(start,"space")
t.onkeypress(turn_right, "Right")
t.onkeypress(turn_up, "Up")
t.onkeypress(turn_left, "Left")
t.onkeypress(turn_down, "Down")
t.listen()
meassage("Tirtle Run","[Space}")