In [92]:
import csv

In [102]:
f = open('seoul.csv') # f: file handler
seoul = csv.reader(f) # data: csv reader object
header_seoul = next(seoul)
print(header_seoul) # retrieve the next item from the iterator

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [103]:
min_temp_seoul = 999.0

In [104]:
for row in seoul: # -> iterate over lines
    #row[0] = row[0][1:] 슬라이싱 활용해 \t 삭제
    row[0] = row[0].strip() # 공백 제거
    if row[-2] == '':
        row[-2] = 999.0
    row[-2] = float(row[-2])
    # print(row)
    if min_temp_seoul > row[-2]:
        min_date_seoul = row[0]
        min_temp_seoul = row[-2]

f.close()

In [105]:
print('서울의 최저기온: ', min_date_seoul, min_temp_seoul)

서울의 최저기온:  1927-12-31 -23.1

In [106]:
f = open('incheon.csv') # f: file handler
incheon = csv.reader(f) # data: csv reader object
header_incheon = next(incheon)
print(header_incheon) # retrieve the next item from the iterator
# iterator만 들어갈 수 있다.

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [107]:
min_temp_incheon = 999.0

In [110]:
for row in incheon: # -> iterate over lines
    #row[0] = row[0][1:] 슬라이싱 활용해 \t 삭제
    row[0] = row[0].strip() # 공백 제거
    if row[-2] == '':
        row[-2] = 999.0
    row[-2] = float(row[-2])
    # print(row)
    if min_temp_incheon > row[-2]:
        min_date_incheon = row[0]
        min_temp_incheon = row[-2]

f.close()

In [111]:
print('인천의 최저기온: ', min_date_incheon, min_temp_incheon)

인천의 최저기온:  1931-01-11 -21.0

In [112]:
print('서울의 최저기온의 날짜는', min_date_seoul, '최저 기온은', min_temp_seoul)
print('인천의 최저기온의 날짜는', min_date_incheon, '최저 기온은', min_temp_incheon)
print('최저 기온은 서울이고, 날짜는', min_date_seoul, ', 기온은', min_temp_seoul,'입니다.')

서울의 최저기온의 날짜는 1927-12-31 최저 기온은 -23.1
인천의 최저기온의 날짜는 1931-01-11 최저 기온은 -21.0
최저 기온은 서울이고, 날짜는 1927-12-31 , 기온은 -23.1 입니다.