In [1]:
import numpy as np
import pandas as pd

In [ ]:
sr = pd.Series([1.2, 1.5, 2.4, 2.8, np.nan, 3.5, 4.1, 9.0])

print(sr.max(), sr.min())
print(sr.mean(), sr.std())

9.0 1.2
3.5 2.6331223544175333

In [ ]:
delta = 2
bottom = sr.mean() - delta * sr.std()
top = sr.mean() + sr.std()

print(bottom)
print(top)

-1.7662447088350666
6.133122354417534

In [ ]:
print('outlier:')

for val in sr:
    if val < bottom:
        print(val)
    elif val > top:
        print(val)

outlier:
9.0

# # NaN은 다루 수와의 연산 결과도 NaN, 비교연산은 !=을 제외하고 False

In [ ]:
np.nan > 10

False

In [ ]:
10 != np.nan

True

In [ ]:
# df.info()
# df.columns
# df.dtype
# de.describe()

In [ ]:
# IQR법을 해서 이상치 판단하는 거 해보기

In [ ]:
df = pd.DataFrame({'c1': ['a', 'a', 'b', 'a', 'b'],
                  'c2': [1, 1, 1, 2, 2],
                  'c3': [1, 1, 2, 2, 2]})
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df_dup = df.duplicated()
df_dup

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
df.duplicated(keep = 'first')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
df.duplicated(keep = False)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
df_clean = df.drop_duplicates()
df_clean

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df2 = df.drop_duplicates(subset = ['c2', 'c3'])
df2

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [3]:
!pip3 install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [4]:
from fuzzywuzzy import fuzz

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [7]:
my_records = [{'favorite_book': 'Grapes of Wrath',
               'favorite_movie': 'Free Willie',},
              {'favorite_book': 'The Grapes of Wrath',
               'favorite_movie': 'Free Willy',}]

In [10]:
print(fuzz.ratio(my_records[0].get('favorite_book'), my_records[1].get('favorite_book')))
print(fuzz.ratio(my_records[0].get('favorite_movie'), my_records[1].get('favorite_movie')))

88
86

In [11]:
print(fuzz.partial_ratio(my_records[0].get('favorite_book'), my_records[1].get('favorite_book')))
print(fuzz.partial_ratio(my_records[0].get('favorite_movie'), my_records[1].get('favorite_movie')))

100
90

In [12]:
my_records = [{'favorite_food': 'cheeseburgers with bacon',
               'favorite_drink': 'wine, beer, and tequila',},
              {'favorite_food': 'burgers with cheese and bacon',
               'favorite_drink': 'beer, wine, and tequila',}]

In [13]:
print(fuzz.token_sort_ratio(my_records[0].get('favorite_food'), my_records[1].get('favorite_food')))
print(fuzz.token_sort_ratio(my_records[0].get('favorite_drink'), my_records[1].get('favorite_drink')))

68
100

In [14]:
print(fuzz.token_set_ratio(my_records[0].get('favorite_food'), my_records[1].get('favorite_food')))
print(fuzz.token_set_ratio(my_records[0].get('favorite_drink'), my_records[1].get('favorite_drink')))

68
100

In [15]:
from fuzzywuzzy import process
choices = ['Yes', 'No', 'Maybe', 'N/A']

In [17]:
process.extract('ya', choices, limit = 2)

[('Yes', 45), ('Maybe', 45)]

In [19]:
process.extractOne('nope', choices)

('No', 90)