# 5/1 축약된 두문자 헤더 교체하기

## data01.csv 파일의 축약된 두문자 헤더에 대한 설명을 추가한 csv 데이터 파일을 만드시오.

### 출력해야할 내용
### 1. data01과 header01의 교집합 헤더 개수는?
### 2. data01과 header01의 교집합에 들어 있지 않는 data01의 헤더명은? 이를 mismatch 헤더라고 하자.
### 3. mismatch 헤더 중 header02에 들어있어 추가할 수 있는 헤더 개수는?
### 4. 최종적으로 전처리된 데이터 파일의 헤더 개수는?


#### data01.csv: 축약된 두문자 헤더를 포함하는 데이터 파일
#### header01.csv: 데이터 파일의 거의 대부분 헤더 설명이 있는 파일
#### header02.csv: header01.csv에는 없는 몇몇 헤더 설명이 있는 파일

# 5/8 누락 데이터를 평가 및 처리

## 1. 타이나닉호에서 승선한 도시를 나타내는 embark_town 열에서 누락 데이터가 있는지 평가하여 있는지 평가하여 있으면 그 개수를 출력하시오.

## 2. 누락 데이터 중 앞에서부터 발견한 첫 번째 누락 데이터에 대해 그 앞뒤 2개씩 총 5개의 승선도시를 출력하시오.

## 3. 승선 도시 중 가장 많이 승선한 도시를 찾아서 출력하시오.

## 4. 승선도시 최빈값으로 모든 누락 데이터를 대체하고, 앞의 5개 데이터를 다시 출력하시오.

# 5/15 이상치 추출 자동화 코드
## 파일을 데이터프레임으로 읽고, 데이터형이 float64인 열들에 대해 이상치 평가를 하여 이상치가 존재하는 열이 있으면, 아래 titanic 예시와 같이 열이름을 출력하도록 자동화 코드를 작성하시오.
## 이상치 평가는 평균에서 +- 표준편차 밖에 있는 값으로 계산한다.
### ex) titanic = age outlier: OK 이런 식으로 해서 age, fare
### ex) iris = sepal_width outlier: OK

# 5/22 Web Scraping
## 옥션 ebay쇼핑 웹페이지에서 베스트핫딜 상품을 크롤링하여 해당 상품의 제품명과 가격을 웹스크래핑으로 20개 상품만 수집하고 데이터프레임으로 만들어 출력하시오.

### http://ebay.auction.co.kr/plan/hotdeal

# 5/29 데이터 전처리

## sibsp와 parch 열은 각각 형제자매와 부모자식이 몇 명 있는지에 대한 답변이다. 이 두 개의 변수를 통해 가족이 있는가라는 질문에 대한 답을 알고 싶다면 차원 축소가 가능한 사례인가?
### seaborn에서 제공하는 titanic 사용

## 가족 family라는 변수 하나로 feature extraction하고, 위 2개의 변수를 삭제한 후 그 데이터프레임을 출력하시오. 단, family 변수는 가족이 있으면 1, 없으면 0으로 값을 가지도록 구현합니다.
### seaborn에서 제공하는 titanic 사용

## 시각화를 통해 정규성 검정하여 해당 feature가 정규분포에 가까움을 시각화하여 보여주고, 해당 feature를 표준화하여 변경하고 그 데이터프레임을 출력하시오.

# 6/5 구간 분할

## fare 변수의 최소값, 25%, 50%, 75% 사분위값 및 최대값을 경계로 4개 구간으로 분할하고, 구간 분할된 변수명을 fare_abce라고 한다. fare와 fare_abcd만 2개 열에 대해 앞에서 10개 행 출력한다.
## 단, 구간별 라벨은 비싼 요금부터 A, B, C, D로 하자
### seaborn에서 제공하는 titanic 데이터셋 fare 변수에 대해

## 범주형 변수 fare_abcd에 대해 더미 변수를 만들고, 이들 4개 더미변수들에 대해서만 앞에서부터 10개 행을 출력하시오.