In [8]:
# 1. (반복문) 1부터 1000까지의 자연수 중 3의 배수들의 합을 구하시오.
sum = 0

for i in range(1, 1001):
    if i % 3 == 0:
        sum += i

sum

166833

In [3]:
# 2-1. (list) 리스트에 1부터 20까지 정수를 반복문으로 저장하고 출력하시오.
list = []

for i in range(1, 21):
    list.append(i)

list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
# 2-2. List Slicing으로 뒤에서 5개만 리스트로 출력하시오.

list[-5:]

[16, 17, 18, 19, 20]

In [10]:
# 2-3. 2-1번 문제의 반복문을 동일하게 동작하는 List Comprehensions로 구현하시오.

arr = [i for i in range(1, 21)]
arr

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
# 3-1. 딕셔너리로 만들고 출력하시오.

dict = {'name': '홍길동', 'birth': '1128', 'age': 30}
dict

{'name': '홍길동', 'birth': '1128', 'age': 30}

In [15]:
# 3-2. 'book', '노인과 바다' 딕셔너리 쌍을 추가하고 출력하시오.
dict.setdefault('book', '노인과 바다')
dict

{'name': '홍길동', 'birth': '1128', 'age': 30, 'book': '노인과 바다'}

In [16]:
# 3-3. 이 딕셔너리의 값들을 반복문으로 출력하시오,.

for key, value in dict.items():
    print(value)

홍길동
1128
30
노인과 바다