# 20-2

## 1. 옥션 ebay쇼핑 웹사이트의 EBAY HOT DEAL 제품에 대한 페이지에서 (Link: http://ebay.auction.co.kr/plan/hotdeal ) 베스트 핫딜 제품의 제품명 및 가격을 웹 스크래핑으로 수집하여 상위 20개 제품을 데이터프레임으로 만들어 아래 예시처럼  출력하시오.

## ![화면 캡처 2024-06-06 203141.png]()

In [1]:
import requests
from bs4 import BeautifulSoup

url = 'http://ebay.auction.co.kr/plan/hotdeal'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [7]:
import pandas as pd
div = soup.find('div', class_ = 'content')


name_list = div.select('div.content > div.best-hot2 > div > div > div > div.con-box > dl > dt')[:20]
price_list = div.select('div.content > div.best-hot2 > div > div > div > div.con-box > p > strong')[:20]

real_name = []
real_price = []

for name, price in zip(name_list, price_list):
    real_name.append(name.text)
    real_price.append(price.text)

df = pd.DataFrame({'제품명':real_name, '가격':real_price})
df.head(4)

                          제품명       가격
0    [디즈니랜드 외계인 피자 행성 트럭 팝..]   $84.99
1    [빈티지 마텔 바비 해피 패밀리 스마트..]  $125.00
2      [반스앤노블 누크 글로우라이트4 32g]   $99.99
3  [LG XO3QBK XBOOM 블루투스 스피커]  $135.00

# 21-1

## 1-1. penguins 데이터세트의 요약정보를 출력하시오. (seaborn에서 제공하는 penguins 데이터세트 활용)

In [8]:
import seaborn as sns
penguins = sns.load_dataset('penguins')
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## 1-2 요약정보를 통해 누락데이터가 있으면, 누락데이터를 포함하는 모든 행을 삭제한 후 요약정보를 다시 출력하시오.

In [10]:
penguins = penguins.dropna()
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

## 1-3. 열 이름 ‘body_mass_g’ 열은 펭귄의 체중을 수치형으로 표시하고 있는데, 이를 3개의 등간격 구간으로 분할하고 각 구간은 작은 체중부터 ‘light’, ‘medium’,  'heavy’의 범주형으로 변환하시오. 변환 결과는 열 이름 ‘weight’열로 만들어 ‘penguins’ 데이터프레임에 추가하고 기존 ‘body_mass_g’ 열은 삭제한 후, 전체 데이터프레임을 출력하시오

In [12]:
import numpy as np
count, bin_dividers = np.histogram(penguins['body_mass_g'], bins = 3)
penguins['weight'] = pd.cut(penguins['body_mass_g'], bin_dividers, labels = ['light', 'medium', 'heavy'])
penguins.drop(columns = 'body_mass_g', inplace = True)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,sex,weight
0,Adelie,Torgersen,39.1,18.7,181.0,Male,light
1,Adelie,Torgersen,39.5,17.4,186.0,Female,light
2,Adelie,Torgersen,40.3,18.0,195.0,Female,light
4,Adelie,Torgersen,36.7,19.3,193.0,Female,light
5,Adelie,Torgersen,39.3,20.6,190.0,Male,light
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,Female,medium
340,Gentoo,Biscoe,46.8,14.3,215.0,Female,medium
341,Gentoo,Biscoe,50.4,15.7,222.0,Male,heavy
342,Gentoo,Biscoe,45.2,14.8,212.0,Female,heavy
343,Gentoo,Biscoe,49.9,16.1,213.0,Male,heavy

## 1-4. 3)번 결과에 이어서 이번에는 ‘weight’열을 One-Hot Encoding하여 ‘penguins’ 데이터프레임에 추가하고 기존 ‘weight’ 열은 삭제한 후, 전체 데이터프레임을 출력하시오.

In [13]:
origin_dummies = pd.get_dummies(penguins['weight'])
penguins = pd.concat([penguins, origin_dummies], axis = 1)
penguins.drop(columns = 'weight', inplace = True)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,sex,light,medium,heavy
0,Adelie,Torgersen,39.1,18.7,181.0,Male,True,False,False
1,Adelie,Torgersen,39.5,17.4,186.0,Female,True,False,False
2,Adelie,Torgersen,40.3,18.0,195.0,Female,True,False,False
4,Adelie,Torgersen,36.7,19.3,193.0,Female,True,False,False
5,Adelie,Torgersen,39.3,20.6,190.0,Male,True,False,False
...,...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,Female,False,True,False
340,Gentoo,Biscoe,46.8,14.3,215.0,Female,False,True,False
341,Gentoo,Biscoe,50.4,15.7,222.0,Male,False,False,True
342,Gentoo,Biscoe,45.2,14.8,212.0,Female,False,False,True
343,Gentoo,Biscoe,49.9,16.1,213.0,Male,False,False,True

## 1-5. 열 이름 ‘species’ 열에서 펭귄 품종의 가능한 고유값을 모두 찾아 출력하도록 코딩하시오.

In [14]:
penguins['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

# 21-2

## 1-1. planet 데이터세트의 요약정보를 출력하시오. (seaborn에서 제공하는 planets 데이터셋 활용)

In [15]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

## 1-2. 요약정보를 통해 누락데이터가 가장 많은 열을 삭제한 후 요약정보를 다시 출력하시오.

In [16]:
planets.drop('mass', axis = 1, inplace = True)
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   distance        808 non-null    float64
 4   year            1035 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 40.6+ KB

## 1-3. 남아있는 모든 누락 데이터는 각각의 열에 대한 중간값(median)으로 대체하고, 앞에서 40개 행을 출력하시오.

In [23]:
for col in ['orbital_period', 'distance', 'year']:
    planets[col].fillna(planets[col].median(), inplace = True)
planets.head(40)

                       method  number  orbital_period  distance  year
0             Radial Velocity       1      269.300000     77.40  2006
1             Radial Velocity       1      874.774000     56.95  2008
2             Radial Velocity       1      763.000000     19.84  2011
3             Radial Velocity       1      326.030000    110.62  2007
4             Radial Velocity       1      516.220000    119.47  2009
5             Radial Velocity       1      185.840000     76.39  2008
6             Radial Velocity       1     1773.400000     18.15  2002
7             Radial Velocity       1      798.500000     21.41  1996
8             Radial Velocity       1      993.300000     73.10  2008
9             Radial Velocity       2      452.800000     74.79  2010
10            Radial Velocity       2      883.000000     74.79  2010
11            Radial Velocity       1      335.100000     39.43  2009
12            Radial Velocity       1      479.100000     97.28  2008
13            Radial Velocity       3     1078.000000     14.08  1996
14            Radial Velocity       3     2391.000000     14.08  2001
15            Radial Velocity       3    14002.000000     14.08  2009
16            Radial Velocity       1        4.230785     15.36  1995
17            Radial Velocity       5       14.651000     12.53  1996
18            Radial Velocity       5       44.380000     12.53  2004
19            Radial Velocity       5     4909.000000     12.53  2002
20            Radial Velocity       5        0.736540     12.53  2011
21            Radial Velocity       5      261.200000     12.53  2007
22            Radial Velocity       3        4.215000      8.52  2009
23            Radial Velocity       3       38.021000      8.52  2009
24            Radial Velocity       3      123.010000      8.52  2009
25            Radial Velocity       1      116.688400     18.11  1996
26            Radial Velocity       1      691.900000     81.50  2012
27            Radial Velocity       1      952.700000     97.18  2008
28            Radial Velocity       1      181.400000     45.52  2013
29                    Imaging       1       39.979500     45.52  2005
30                    Imaging       1       39.979500    165.00  2007
31                    Imaging       1       39.979500    140.00  2004
32  Eclipse Timing Variations       1    10220.000000     55.25  2009
33                    Imaging       1       39.979500     55.25  2008
34                    Imaging       1       39.979500    145.00  2013
35                    Imaging       1       39.979500    139.00  2004
36                    Imaging       1       39.979500     18.39  2006
37  Eclipse Timing Variations       2     5767.000000    130.72  2008
38  Eclipse Timing Variations       2     3321.000000    130.72  2008
39  Eclipse Timing Variations       2     5573.550000    500.00  2010

## 1-4. 중복 데이터가 있는지 평가하는 코드를 작성하고, 중복데이터가 있으면 중복데이터를 제거하고 다시 평가하여 중복데이터가 없음을 확인하시오.

In [24]:
planets.duplicated().sum()

0

In [26]:
planets.drop_duplicates(inplace = True)

In [27]:
planets.duplicated().sum()

0

## 1-5. planet 데이터세트의 기초통계 정보를 출력하시오.

In [22]:
planets.describe()

            number  orbital_period     distance         year
count  1031.000000      992.000000  1031.000000  1031.000000
mean      1.787585     2002.917596   214.999011  2009.069835
std       1.242641    26014.728304   643.453832     3.978946
min       1.000000        0.090706     1.350000  1989.000000
25%       1.000000        5.442540    38.010000  2007.000000
50%       1.000000       39.979500    55.250000  2010.000000
75%       2.000000      526.005000   130.720000  2012.000000
max       7.000000   730000.000000  8500.000000  2014.000000

## 1-6. 열 이름 distance는 거리를 수치형으로 표시하고 있는데, distance 변수의 최소값, 25%, 50%, 75% 사분위수 및 최대값을 경계값으로 하여 4개 구간으로 분할하고, 구간 분할된 변수명은 distance_level로 만들어 planets 데이터프레임에 추가하자. distance 열과 distance_level 열만 앞에서 20개 행을 출력하시오. 단, 구간별 라벨은 가까운 거리부터 A, B, C, D로 하자.

In [28]:
bin = [1.35, 38.01, 55.25, 130.72, 8500]

count, bin_dividers = np.histogram(planets['distance'], bins = bin)
planets['distance_level'] = pd.cut(planets['distance'], bin_dividers, labels = ['A', 'B', 'C', 'D'])
planets[['distance', 'distance_level']].head(20)

    distance distance_level
0      77.40              C
1      56.95              C
2      19.84              A
3     110.62              C
4     119.47              C
5      76.39              C
6      18.15              A
7      21.41              A
8      73.10              C
9      74.79              C
10     74.79              C
11     39.43              B
12     97.28              C
13     14.08              A
14     14.08              A
15     14.08              A
16     15.36              A
17     12.53              A
18     12.53              A
19     12.53              A